<h1 style="text-align: center"><%= title "Avisos" %></h1>

<div class="row">

  <div class="input-group">
    <%= form_tag("/avisos/homepage", method: "post") do %>
      <%= text_field_tag(:search_term) %>
      <%= submit_tag("Search", :class=>"btn btn-default") %>
    <% end %>
  </div>


  <ul class="list-group">
    <% @avisos.each do |aviso| %>
      <li class="list-group-item">
      <h2><%= aviso.title %> </h2>
        <hr>
      <h4><%= aviso.corpo %></h4>
      </li>
    <% end %>

  </ul>
</div>
