
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @aviso.title %>
</p>

<p>
  <strong>Corpo:</strong>
  <%= @aviso.corpo %>
</p>

<%= link_to 'Editar', edit_aviso_path(@aviso), :class=> "btn btn-primary" %> |
<%= link_to 'Voltar', avisos_path, :class=> "btn btn-info" %>
