
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @aviso.title %>
</p>

<p>
  <strong>Corpo:</strong>
  <%= @aviso.corpo %>
</p>

<%= link_to 'Edit', edit_aviso_path(@aviso) %> |
<%= link_to 'Back', avisos_path %>
